.Item{
width: 10em;
    min-height: 10em;
    text-align: center;
    background-color: transparent;

}

.botones {
    position: absolute;
    right: .5em;
    bottom: .5em;
}
.nombreTarea{
    font-size: 1.3em;
    word-break: break-word;
}
